// ==========================================================================
//
// VARIABLES
//
// ==========================================================================

$breakPoint: 768px !default;

$pcMinWidth: 1200px;
$spMinWidth: 375px;