// ==========================================================================
//
// VARIABLES
//
// ==========================================================================

$breakPoint: 768px !default;

$pcMinWidth: 1200px;
$spMinWidth: 375px;

:root {
  --colorText: #FBF7F2;
  --colorTitle: #3C2F2F;
  --subText: #E6BFBF;
  --mainfont: 'Zen Maru Gothic', sans-serif;
  --fontBold: 700;
  --fontMedium: 500;
}
