@use "./mixin";



* {
  box-sizing: border-box;
}
#root{
  margin: 0 auto;
}
html {
	font-size: min(62.5%, calc(1000vw/1912));
  @include mixin.mq(sp) {
    font-size: calc(1000vw/375);
  }
  overflow-x: hidden;
}

body {
  background-image: url("../assets/img/folio-bg.png");
  background-color: #FBF7F2;
}