.projects-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 2rem 0 3rem;

  /* optional: hide scrollbar */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.projects-pages {
  display: flex;
  gap: 20px;
  width: max-content;
}

.projects-page {
  // min-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  scroll-snap-align: start;
}

.project-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  max-width: 40rem;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-header {
  height: 160px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: relative;
}

.project-header h3,
.project-header p {
  position: relative;
  z-index: 1;
  margin: 0;
}

.project-header p {
  margin-top: 8px;
}

.project-content {
  background: #f3e6e3;
  padding: 16px 20px;
}

.project-content a {
  text-decoration: none;
  font-weight: 600;
  color: #b46a6a;
}